<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>计算属性与侦听器</title>
    <script src="../../vue.js"></script>
</head>
<body>
    <div id="root">
        <!-- 计算属性 -->
        firstName:<input type="text" v-model="firstName">
        lastName:<input type="text" v-model="lastName">
        <div>{{fullName}}</div>
        <!-- 侦听器 -->
        <div>{{count}}</div>
    </div>
    <script>
        new Vue({
            el: "#root",
            data: {
                firstName: '',
                lastName: '',
                count: 0
            },
            computed: {//computed - 一个属性由其它属性计算而来，依赖数据发生变化才会计算，不然读取缓存值
                fullName: function(){
                    return this.firstName+" "+this.lastName;
                }
            },
            watch: {//侦听器 里面的数据一旦发生变化，执行函数
                // firstName: function(){
                //     this.count++
                // },
                // lastName: function(){
                //     this.count++
                // }
                fullName: function(){
                    this.count++
                }
            }
        })
    </script>
</body>
</html>